.one_click{
    margin:150px 400px 30px 400px;   
}
.one_click_button button{
    width: 180px;
    height: 54px;
    box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.53);
    font-size: 1.5rem;
    margin: 16px;
    border: 1px solid #6c757d;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Spectral', serif;
    background: rgb(203,219,227) !important;
    background: radial-gradient(circle, rgba(203,219,227,0.9262079831932774) 0%, rgba(148,187,233,0.9458158263305322) 100%);
}
 #one_click_active{
    width: 180px;
    height: 54px;
    font-size: 1.5rem;
    margin: 16px;
    border: 1px solid #6c757d;
    border-radius: 50px;
    color: white;
    font-family: 'Spectral', serif;
    background-color: #01B0EA !important;
}
#one_click_active:hover{
    border-color: black;
}
.one_click_button button:hover{
    border-color: black;
}
.one_click_buy{
    width: 600px;
    height: 500px;
    border: 1px solid transparent;
    margin: 40px 430px 40px 430px; 
}
.one_click_buy h1{
    color:rgba(0, 0, 0, 0.87);
    font-size: 2rem;
    font-family: 'Spectral', serif;
    margin-top: 15px;
}
#one_click_buy_border{
border-bottom: 3px solid #01B0EA;

}
#one_click_sell_border{
    border-bottom: 3px solid #01B0EA;
    }
.one_click_buy label{
    padding-left: 40px;
    font-size: 1.4rem;
    font-family: 'Spectral', serif;
    margin-top: 15px;
}
.one_click_buy input{
    margin-left: 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid #6c757d;
    width: 350px;
    height: 50px;
    padding-left:10px;
    color: rgba(0, 0, 0, 0.87);

}
.one_click_buy input:hover{
    border-color: black;
}
.one_click_buy button{
    margin-left: 0px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #6c757d;
    width: 148px;
    height: 50px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.87);
}
.one_click_buy button:hover{
    border-color: black
}
.one_click_buy ul{
    width: 535px;
    height: 50px;
    border: 1px solid #6c757d;
    list-style: none;
    font-size: 1.1rem;
    padding-left: 10px;
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.87);
}
.one_click_buy ul:hover{
    border-color: black;
   
}
.one_click_buy ul li{
    margin: 8px;
    
}

.one_click_buy_login button{
    margin: 12px 0px 12px 38px;
    width: 539px;
    background-color: #01B0EA;
    color: #ffffff;
    font-size: 1.2rem;
    box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.75);

}
.one_click_sell_login button{
    margin: 100px 0px 12px 38px;
    width: 539px;
    background-color: #01B0EA;
    color: #ffffff;
    font-size: 1.2rem;
    box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.75);

}
.paymet input{
    width: 531px;
}
















