@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Spectral:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


.futur-common h2{
    position: relative;
}
.futur-common h2::before{
    content: "";
    position: absolute;
    margin-top: 10px;
    top: 100%;
    border-radius: 50%;
    left: 0;
    width: 0.8rem;
    height: 0.8rem;
    background:linear-gradient(90deg, #BC35BC 0%, #124EE8 100%);
  }
  .futur-common h2::after{
    content: "";
    position: absolute;
    margin-top: 10px;
    top: 111%;
    left: 0.8rem;
    min-width: 5rem;
   height: 0.2rem;
   border-radius: 0  10px 10px 0;
    background:linear-gradient(90deg, #BC35BC 0%, #124EE8 100%);
  }

.future h1{
    font-family: 'Spectral', serif;
    font-style: normal;
    font-size: 60px;
    line-height: 124.02%;
    letter-spacing: 0.1em;
    color: darkblue;
    margin-top: 100px;
    font-weight: bold;
}
.future strong{
    font-family: 'Inter';
    font-style: normal;
    font-size: 60px;
    color: blue;
    margin-top: 140px;
    background: linear-gradient(
            to right, #f32170, #ff6b08,
             #cf23cf, #eedd44);
             -webkit-text-fill-color: transparent;
             -webkit-background-clip: text;

        
}
.future p{
font-family: 'Open Sans', sans-serif;
font-size: 1.5rem;
color: blue;
}

.future_img{
    width: 400px;
    height:400px;
    margin: 70px;
}

.icons_img{
    margin-top: 10px;
    width: 350px;
    height: 300px;
}
.icon_img{
    margin-top: 10px;
    width: 350px;
    height: 350px;
    margin-left: 120px;
}
.leverage h2{
    font-family: 'Spectral', serif;
    margin-top: 40px;
    font-size:2rem;
    color: darkblue;
    font-weight: bold;
    
}
.leverage p{
    font-family: 'Open Sans', sans-serif;
    margin-top:50px ;
    font-size: 1.2rem;
    color: blue;
}
.flexibility h2{
    font-family: 'Spectral', serif;
    margin-top: 60px;
    font-size: 2rem;   
    color: darkblue;
    font-weight: bold;
}
.flexibility p{
    font-family: 'Open Sans', sans-serif;
    margin-top:50px ;
    font-size: 1.2rem;
    color: darkblue;
}
#login{
    margin-top: 30px;
}