.staking h1{
    font-family: 'Spectral', serif;
    color: darkblue;
    font-size: 1.8rem;
    margin-top: 80px;
    font-weight: bold;
}
.staking p{
    color: blue;  
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}
.staking .btn-primary{
    border-radius: 5px;
    background: linear-gradient(90deg, #BC35BC 0%, #124EE8 100%);
}
.staking .btn-primary:hover{
    color: aqua !important;
}

.staking h3{
    font-family: 'Spectral', serif;
    font-size: 1.4rem;
    color: darkblue;
    margin-top: 100px;
    font-weight: bold;
}
.btn_coin button{
    margin-top: 15px;
    width: 150px;
}
.staking input{
    margin-top: 15px;
    border: 1px solid darkblue;
    padding-left: 10px;
}
.potential_reward h5{
    margin-top: 20px;
    color: darkblue;
    font-family: 'Spectral', serif;
    font-size: 1.2rem;
}
.potential_reward p{
    color: blue;  
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
.staking_deposit{
    margin-top: 60px;
}
.staking_deposit h1{
    font-family: 'Spectral', serif;
    color: darkblue;
    font-size: 1.8rem;
    font-weight: bold;
}
.staking_deposit h2{
    font-family: 'Spectral', serif;
    font-size: 1.4rem;
    color: blue;
    margin-top: 10px;
}

.staking_deposit h6{
    margin-top: 20px;
    color: darkblue;
    font-family: 'Spectral', serif;
    font-size: 1.2rem;
}
.staking_deposit p{
    color: blue;  
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}
.digital_token h1{
    font-family: 'Spectral', serif;
    color: darkblue;
    font-size: 1.8rem;
    margin-top: 80px;
    font-weight: bold;
}
.digital_token h2{
    font-family: 'Spectral', serif;
    font-size: 1.4rem;
    color: darkblue;
    font-weight: bold;
    margin-top: 15px
}
.digital_token h6{
    margin-top: 8px;
    color: #00008b;
    font-family: 'Spectral', serif;
    font-size: 1.2rem;
}
.digital_token p{
    color: blue;  
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.digital_token button{
    margin-bottom: 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, #BC35BC 0%, #124EE8 100%);
}
.acco h1{
    font-family: 'Spectral', serif;
    color: darkblue;
    font-size: 1.8rem;
    margin-top: 80px;
    font-weight: bold;
}