.Market-section {
    background-color: #030361;
    width: 100%;
    height: 100vh;
}

.new-listing-heading {
    color: #fff;
    font-family: 'spectral';
    font-weight: 600;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}
.new-listing-heading::before {
   content: "";
   bottom: -10;
   left: 45%;
   width: 100px;
   /* height: 1px; */
   border: 1px dotted red;
   border-radius: 10px;
   /* background-color: white; */
 

   position: absolute;

}





.Market-fav-section {
    background-color: #0e0ed1;
    width: 100%;
    height: 130vh;
}

/* .Market-fav-section h2{
    margin-top: 80px;
} */

.Market-news-section {
    background-color: #030361;
    width: 100%;
    height: 90vh;
}

.market-nav {
    color: white;
    text-decoration: none !important;
    background: #030361;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-family: 'spectral';
    font-size: 1rem;
    margin-right: 8px;
}
.market-nav:hover{
    background-color: #02021d;
}



@media only screen and (max-width: 768px){
.Main-card .Main-card-content {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.new-listing-heading::before {
    bottom: 57;
    left: 43%;
 
 }
 .Market-section {
       
    height: 60vh;
}
.Market-fav-section {
   
    height: 115vh;
}
.Market-news-section {
   
    height: 50vh;
}
}



@media only screen and (max-width: 640px){
    .new-listing-heading::before {
        bottom: 57;
        left: 41%;
     
     }
     .Market-section {
       
        height: 95vh;
    }
    .Market-fav-section {
       
        height: 200vh;
    }
    .Market-news-section {
       
        height: 130vh;
    }
     
}



@media only screen and (max-width: 480px){
    .new-listing-heading::before {
        bottom: 57;
        left: 38%;
     
     }
     .Market-section {
       
        height: 80vh;
    }
    .Market-fav-section {
       
        height: 345vh;
    }
    .Market-news-section {
       
        height: 110vh;
    }
     
}