
.features h1{
    margin-top: 100px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
}
.features p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.features img{
    height: 400px;
    width: 400px;
}

.exchange h1{
    margin-top: 100px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
}
.exchange p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.exchange img{
    width: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.margin_trading h1{
    margin-top: 100px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
}
.margin_trading p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.margin_trading img{
    width: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.Derivatives h1{
    margin-top: 100px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
}
.Derivatives p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.Derivatives img{
    width: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.margin_funding h1{
    margin-top: 100px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
}
.margin_funding p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.margin_funding img{
    width: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}