.mobile h1{
    margin-top: 150px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
}
.mobile h4{
    font-family: 'Spectral', serif;
    font-size: 1.8rem;
    color: cornflowerblue;
    font-style: oblique;
    font-weight: bold;
    margin-top: 20px;
}
.mobile p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.mobile img{
    margin-top: 30px;
}
.mobile .get-start{
    border-radius: 5px;
    background: linear-gradient(90deg, #BC35BC 0%, #124EE8 100%);
}
.mobile .get-start:hover{
    color: aqua !important;

}
.ultimate_crypto h1{
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    color: darkblue;
    margin-top: 50px;
}
.ultimate_crypto h6{
    color: cornflowerblue;
    font-size: 1.6rem;
    font-family: 'Spectral', serif;
    margin-top: 20px;   
}
.ultimate_crypto p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.ultimate_crypto img{
    height: 400px;
    margin-left: 60px;
    width: 450px;
}
.mobile1 img{
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
    
}
.mobile1 h1{
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    color: darkblue;
    margin-top: 130px;
}
.mobile1 p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.mobile1 img{
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
    
}
.mobile2 h1{
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    color: darkblue;
    margin-top: 130px;
}
.mobile2 p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.mobile2 img{
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-right: 100px;
    
}
.mobile3 h1{
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
    color: darkblue;
    margin-top: 130px;
}
.mobile3 p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.mobile3 img{
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
    
}