.security h1{
    margin-top: 180px;
    color: darkblue;
    font-size: 2.5rem;
    font-family: 'Spectral', serif;
}
.security p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.security_policy h1{
    margin-top: 100px;
    color: darkblue;
    font-size: 2rem;
    font-family: 'Spectral', serif;   
}
.security_policy h4{
    color: cornflowerblue;
    font-size: 1.6rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
}
.security_policy p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
.account_protection h1{
    margin-top: 60px;
    color: darkblue;
    font-size: 2rem;
    font-family: 'Spectral', serif;   
}
.account_protection span{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
.account_protection p{
    color: blue;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
}
.account_protection h3{
    color: cornflowerblue;
    font-size: 1.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
    margin-top: 20px;
}
.account_protection ul{
    color: darkblue;
    padding-left: 20px;
}
.account_protection ul li{
    color: blue;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.crypto_storage h1{
    margin-top: 60px;
    color: darkblue;
    font-size: 2rem;
    font-family: 'Spectral', serif;   
}
.crypto_storage p{
    color: blue;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
.system_security h1{
    margin-top: 60px;
    color: darkblue;
    font-size: 2rem;
    font-family: 'Spectral', serif;   
}
.system_security h3{
    color: cornflowerblue;
    font-size: 1.5rem;
    font-family: 'Spectral', serif;
    font-weight: bold;
    margin-top: 10px;
}
.system_security p{
    color: blue;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
}