.app{
    text-align:start;
  }
  .app .text-wrapper{
    padding: 28px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100px;
    width: 50%;
    height: 100vh;
  
  }
  .app .text-wrapper h1{
    color: var(--cyan-color);
    display: inline-block;
    padding: 10px 20px;
    font-size: 2.5rem;
    font-family: 'Spectral';
  }
  .app video{
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  .get-start{
    margin-left: 23px;
    background-color: var(--Cyan-perple-gradient);
  }
  .section-part{
    position: relative;
  }
  
  

  /* swipper css start */
  .slider-div{
    margin-top: 30px;
  }
  .slider-div img{
    padding: 5px;
  }
  .digital-assets{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    gap: 1.5rem;
  }
  .sign-in{
  background-color: var(--Cyan-perple-gradient);
  
  border-radius: none !important;
  }

  

 

     /*  common style Section start here */

  .Common_style h2{
    color: white;
    padding-top: 40px;
    margin-top: 50px;
    
    font-size: 1.8rem;
  }
.Common_style p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-top: 20px;
}

.Common_style .img-fluid{
  width: 400px;
  height: auto;
}

 /*  CoinList Api Section start here */

 .api{
  border: 1px solid white;
  height: 90vh;

 }




#Coinlist{
  /* background: #0a0acf; */
  width: 100%;
  height: 100vh;
  margin-top: 80px;
}
/* #Coinlist h2{
  border-bottom: 2px solid #3d23c3;
  border-radius: 10px;
  width: 23%;
} */

#trade{
  /* background: #030361; */
       width: 100%;
       height: 80vh;   
 }
 #trade h2{
   border-bottom: 2px solid #3d23c3;
   border-radius: 10px;
   width: 14%;
 }
 
#analytics{
 /* background: #0a0acf; */
      width: 100%;
      height: 80vh;   
}
#analytics h2{
  border-bottom: 2px solid #3d23c3;
  border-radius: 10px;
  width: 23%;
}

  #Easy_to_invest{
    /* background: #030361; */
         width: 100%;
         height: 80vh;
   }
   #Easy_to_invest h2{
    border-bottom: 2px solid #3d23c3;
    border-radius: 10px;
    width: 33%;
  }
.easy-invest-icon{
  color: aliceblue;
}
.easy-icon-para h3{
  font-size: 1rem;
  color: white;
}




   #Peer-to-peer{
    /* background: #0a0acf; */
         width: 100%;
         height: 80vh;
   }
   #Peer-to-peer h2{
    border-bottom: 2px solid #3d23c3;
    border-radius: 10px;
    width: 33%;
  }
   





    /* @media  css start here */



    @media screen and (max-width: 576px) {
        .app .text-wrapper h1{
            color: var(--cyan-color);
            display: inline-block;
            padding: 0;
            font-size: 0.5rem;
            margin-top: 0;
            font-family: 'Spectral';
          }
         
      }

        /* @media  css start here */
    @media only screen and (max-width: 786px) {
        .app .text-wrapper h1{
            color: var(--cyan-color);
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.3rem;
            margin-top: 0;
            font-family: 'Spectral';
          }
         
      }

      @media only screen and (max-width: 992px) {
        .app .text-wrapper h1{
            color: var(--cyan-color);
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.5rem;
            margin-top: 0;
            font-family: 'Spectral';
          }
         
      }
      @media only screen and (max-width: 1200px) {
        .app .text-wrapper h1{
            color: var(--cyan-color);
            display: inline-block;
            padding: 10px 20px;
            font-size: 2rem;
            margin-top: 0;
            font-family: 'Spectral';
          }
         
      }

      @media only screen and (max-width: 1400px) {
        .app .text-wrapper h1{
            color: var(--cyan-color);
            display: inline-block;
            padding: 10px 20px;
            font-size: 2.2rem;
            margin-top: 0;
            font-family: 'Spectral';
          }
         
      }

