.app{
    text-align:start;
  }
  .app .text-wrapper{
    padding: 28px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100px;
    width: 50%;
    height: 100vh;
  
  }
  .app .text-wrapper h1{
    color: var(--cyan-color);
    display: inline-block;
    padding: 10px 20px;
    font-size: 2.5rem;
    font-family: 'Spectral';
   
  }
  .app video{
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  .section-part{
    position: relative;
  }

/* ============================ */


.main-content-wraper{
  padding: 28px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 124px;
  height: 100vh;
  max-width: 540px;
}
.doller{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discover{
  background:linear-gradient(90deg, rgba(56, 42, 131, 0.57) 0%, rgba(56, 42, 131, 0.86) 50%, rgba(56, 42, 131, 0.71) 100%);
  width: fit-content;
  border-radius: 30px;
  padding: 4px 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.Trade-text-main{
  color: white;
  font-family: 'Popins';
  font-size: 2;
    font-size: 2rem;
    padding: 21px 0;
    line-height: 2rem;

}
.trade-para{
  color: white;
  font-size: 1.2rem;
  font-family: 'Spectral';
}
.main-btn{
  color: red;
}


/* =============test new idea ============ */
.hero{
  background-color: #160141;
  height: auto;
  padding-bottom: 60px;
}

.outervideo{
  max-width: 570px;
  height: 324px;
  position: relative;
  /* border: 2px solid #25CBD3; */
  border-radius: 30px;
}

.innervideo{
  max-width: 583px;
  left: 0px;
  height: 290px;
  position: absolute;
  top: 0;
 
}
.videostyle{
  border-radius: 30px;
  border: 2px solid #25CBD3;
}
.top-main-content{
  padding-top: 40px;
}
.main-btn{
 
  color: white;
  background:linear-gradient(90deg, rgba(56, 42, 131, 0.57) 0%, rgba(56, 42, 131, 0.86) 50%, rgba(56, 42, 131, 0.71) 100%);
  padding: 10px 31px;
  border: 1px solid #25CBD3;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.main-btn:hover{
 
 background-color:#25CBD3 ;
 border: none;
}

/* --------------media section------- */


/* --------------media section end here------- */


.slider__section__main{
  background-color: #160141;
  height: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}
.color1{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.color2{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:purple;
}
.color3{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:blue;
}
.color4{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:green;
}
.color5{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:orangered;
}
.color6{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:rosybrown;
}
.main__common__heading{
  font-family: 'Spectral';
  font-size: 1.5rem;

}
.main__common__para{
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Spectral';
}
.main__image__common{
  max-width: 100%;
  /* border: 1px dashed white; */
}